<% provide(:title, "About") %>
<h1>About</h1>
<p>
  It is a sample app for 
  The <a href="https://github.com/dorajistyle/jenkins-rails-postgres-docker"><em>Jenkins CI environment for Ruby on Rails and Postgresql
  </em></a>
</p>
